@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

Body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: #f1f1ef;
}

/* headings and logo */
h1 {
    font-family: 'Bangers', serif;
    letter-spacing: 2px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 200%;
    padding-left:20px;
}

/* navigation links */
#menu {
    font-size: 90%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    color: #e95840;
}

/* page titles */
.page-titles {
    height: 70px;
    clear: both;
}

h3 {
    font-family: 'Bangers', serif;
    color: #000000;
    text-align: center;
    font-weight: 100;
    letter-spacing: 4px;
}

/* main page linkable picture section */
#photo-wall {
    clear: both;
    height: 800px;
    column-count: 3;
    margin-left: 20px;
    margin-right: 150px;
    column-gap: 0px;
    line-height: 2px;
}

.gallery {
    clear: both;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
    float: left;
    width: 150px;
}

.gallery img {
    max-width: 414.5px;
    height: auto;
}

/* footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    list-style-type: none;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#000000;
}

footer > a:hover{
    color:#e95840;
}

/* About Page */
#bio {
    clear: both;
    height: 420px;
    padding-top: 80px;
    margin-left: 550px;
    margin-right: 300px;
    row-gap: 10px;
    text-align: left; 
}

.bio-text {
    padding-bottom: 30px;
}

.bio-text h2 {
    font-family: 'Bangers', serif;
    padding: 5px;
}

.bio-text p {
    font-family: roboto, serif;
    font-size: 15px;
}



/* contact page */
.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.contact-form {
    margin: 80px 10% 0 0;
    color: #000000;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-form h2 {
    font-family: 'bangers', serif;
    font-size: 220%;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #000000;
    border-radius: 4px;
}

.text-input :hover{
    border-color: #e95840;
}

.send-button {
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-family: 'banger', serif;
    font-size: 120%;
    background-color: #000000;
    color: #f1f1ef;
    display: block;
}

.send-button :hover {
    background-color: #e95840;
    color: #f1f1ef;
}

/* subpages */
.return{
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.button {
    border-radius: 4px;
    background-color:transparent;
    border: none;
    color: #000000;
    text-align: center;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    font-family: 'bangers', serif;
    font-size: 200%;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


/* videos */
#video {
    clear: both;
}

.youtube-video iframe {
    display: block;
    margin: 0 auto;

}


/* for middle screen sizes 950px and down */
@media screen and (max-width: 950px) {
    #photo-wall {
        column-count: 2;
    }

    .gallery img {
        width: 250px;
        height: auto;
    }

    .page-titles {
        float: center;
        font-size: 70%;
        height: 60px;
    }
    
}

/* for small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    #photo-wall {
        column-count: 1;
    }

    .gallery img {
        width: 150px;
        height: auto;
    }

    .page-titles{
        float: center;
        font-size: 50%;
        height: 60px;
    }
    
}