@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

Body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #214da5;
}

/* headings and logo */
h1, h2 {
    font-family: 'Bangers', serif;
    letter-spacing: 2px;
    color: #214da5;
}

#logo {
    float: left;
    font-size: 200%;
}

/* navigation links */
#menu {
    font-size: 90%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    color: #e95840;
}


/* footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    list-style-type: none;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#214da5;
}

