@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

Body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #214da5;
}

/* headings and logo */
h1 {
    font-family: 'Bangers', serif;
    letter-spacing: 2px;
    color: #214da5;
}

#logo {
    float: left;
    font-size: 200%;
    padding-left:20px;
}

/* navigation links */
#menu {
    font-size: 90%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    color: #e95840;
}

/* main page picture section */
#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
    padding-top: 2%;
    margin-left: 50px;
    margin-right: 50px;
}

#photos > img {
    max-width: 100%;
}


/* footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    list-style-type: none;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#214da5;
}

/* gallery */
#photo-wall {
    clear: both;
    height: 800px;
    column-count: 3;
    margin-left: 5px;
    margin-right: 120px;
    column-gap: 20px;
}

.gallery {
    clear: both;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
    float: left;
    width: 150px;
}

.gallery img {
    max-width: 400px;
    height: auto;
}

/* videos */
#video {
    clear: both;
}

.youtube-video iframe {
    display: block;
    margin: 0 auto;

}




/* for middle screen sizes 950px and down */
@media screen and (max-width: 950px) {
    #photo-wall {
        column-count: 2;
    }
    
}

/* for small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    #photo-wall {
        column-count: 1;
    }
    
}